<div class="row margin-lr-0 ec-card">
  <div class="col-12">
    <button class="btn btn-primary btn-sm" (click)="newAnalysis()">New</button>
  </div>
  <div class="col-12 mt-5">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Student</th>
          <th scope="col">Second Student</th>
          <th scope="col">Similarity (%)</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of pageData; let i = index">
          <th scope="row">{{(i+1)}}</th>
          <td>{{data?.fStudentName}}</td>
          <td>{{data?.sStudentName}}</td>
          <td>{{data?.similarity}}</td>
          <td>{{data?.comparisonDate | date}}</td>
          <td><button class="btn btn-dark btn-sm" (click)="reRunComparison(data)">Re-run</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

